<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Jobz App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><a href="/"><i class="briefcase icon "></i>
        JOBZ</a></div>
      <!-- <a href="/" class="item">Home</a>
      <a href="/new" class="item">New App</a>
      <a href="/new/int" class="item">Add Interview</a>
      <a href="/collection" class="item">Collection</a> -->
      <div class="right menu">
        <a href="/signup" class="ui item"><i class="user plus icon"></i>Sign-Up</a>
        <a href="/login" class="ui item"><i class="user icon"></i>Login</a>
        <a href="/logout" class="ui item"><i class="sign out alternate icon"></i>Logout</a>
      </div>
    </div>
  </div>
