<% include ./partials/header %>

  <head>
    <style>
      body {
        margin: 100px 115px;

      }
    </style>
  </head>

  <div class="ui link cards">
    <div class="card">
      <div class="image">
        <img src="/images/Twitter_Logo_Blue.png">
      </div>
      <div class="content">
        <div class="header">Position Name</div>
        <div class="meta">
          <a>Date</a>
        </div>
        <div class="description">
          Job description ...
        </div>
      </div>
      <div class="extra content">
        <a href="/new/int" class="ui green basic button">INT</a>
        <a href="/new/int" class="ui blue basic button">EDIT</a>
        <button class="ui red basic button">DELETE</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/images/Twitter_Logo_Blue.png">
      </div>
      <div class="content">
        <div class="header">Position Name</div>
        <div class="meta">
          <a>Date</a>
        </div>
        <div class="description">
          Job description ...
        </div>
      </div>
      <div class="extra content">
        <a href="/new/int" class="ui green basic button">INT</a>
        <a href="/new/int" class="ui blue basic button">EDIT</a>
        <button class="ui red basic button">DELETE</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/images/Twitter_Logo_Blue.png">
      </div>
      <div class="content">
        <div class="header">Position Name</div>
        <div class="meta">
          <a>Date</a>
        </div>
        <div class="description">
          Job description ...
        </div>
      </div>
      <div class="extra content">
        <a href="/new/int" class="ui green basic button">INT</a>
        <a href="/new/int" class="ui blue basic button">EDIT</a>
        <button class="ui red basic button">DELETE</button>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/images/Twitter_Logo_Blue.png">
      </div>
      <div class="content">
        <div class="header">Position Name</div>
        <div class="meta">
          <a>Date</a>
        </div>
        <div class="description">
          Job description ...
        </div>
      </div>
      <div class="extra content">
        <a href="/new/int" class="ui green basic button">INT</a>
        <a href="/new/int" class="ui blue basic button">EDIT</a>
        <button class="ui red basic button">DELETE</button>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>
